<?xml version="1.0"?>
<config>
    <modules>
        <OpenTag_TestModule>
            <version>1.0.0</version>
        </OpenTag_TestModule>
    </modules>
    <global>
        <resources>
            <opentag_testmodule_setup>
                <setup>
                    <module>OpenTag_TestModule</module>
                </setup>
            </opentag_testmodule_setup>
        </resources>

        <events>
            <eventSendEmail>
                <observers>
                    <OpenTag_TestModule_my_custom_event_observer>
                        <type>singleton</type>
                        <class>TestModule/observer</class>
                        <method>eventSendEmail</method>
                    </OpenTag_TestModule_my_custom_event_observer>
                </observers>
            </eventSendEmail>
        </events>

    </global>
    <frontend>
        <routers>
            <opentag_testmodule>
                <use>standard</use>
                <args>
                    <module>OpenTag_TestModule</module>
                    <frontName>test_module</frontName>
                </args>
            </opentag_testmodule>
        </routers>
        <!--
        <layout>
            <updates>
                <opentag_testmodule>
                    <file>opentag_testmodule.xml</file>
                </opentag_testmodule>
            </updates>
        </layout>
        -->
    </frontend>
</config>